## Project Overview

Airbnb is an online marketplace for short-term home and apartment rentals. It allows you to, to rent out your home for a week while you’re away, or rent out your empty house/bedroom to have a peacful and quality vacation.
The challenge is that Airbnb hosts face is determining the optimal nightly rent price. In many areas, renters are presented with a good selection of listings and can filter by criteria like price, number of bedrooms, room type, and more.

#### The target population of interest

This project helps the hosts at Airbnb in providing the proper listings on their webiste according to the seasons and helping them to improve the chance of their place getting booked with the more appropriate price.

#### Aim of the Project
The aim of this project is to answer the below questions
1. Predict rental prices and influential features of Airbnb.
2. Sentiment Analysis on Reviews of Airbnb which can impact on customer decision.
3. Top amenities that are essential to Airbnb and that customers expect.
4. Predicting future price trends for various seasons.

#### Innovativeness of the project

We not only tend to answer the above questions, but also answer by visualizing the following the questions:
<p>1. What is the season pattern of Airbnb in Chicago?<br>
2. What kinds of Airbnb homes are popular?<br>
3. What factors of the rental price have the most impact?</p>

#### Is the Data Already Available?

Airbnb does not release any data on the listings in its marketplace, but a separate group named Inside Airbnb scrapes and compiles publicly available information about many cities Airbnb's listings from the Airbnb web-site. For this project, their data set scraped on September 11, 2021, on the city of Chicago, Illinois, is used. It contains information on all Chicago Airbnb listings that were live on the site on that date (over 7400)

Dataset Link: http://insideairbnb.com/chicago

## Any changes
<p>The scope of the project remains the same i.e. to predict the rental prices and answer the questions such as seasonal pattern of Airbnb in Chicago, kind of homes which are popular and most infulential features about the rental price.</p>

## Any changes
<p>The scope of the project remains the same i.e. to predict the rental prices and answer the questions such as seasonal pattern of Airbnb in Chicago, kind of homes which are popular and most infulential features about the rental price.</p>

In [5]:
import pandas as pd

In [6]:
airbnb_listings = pd.read_csv('listings.csv')

In [7]:
airbnb_listings.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2384.0,https://www.airbnb.com/rooms/2384,2.022090e+13,9/14/2022,city scrape,Hyde Park - Walk to UChicago,You are invited to be the sole Airbnb guest in...,The apartment is less than one block from beau...,https://a0.muscache.com/pictures/acf6b3c0-47f2...,2613,...,4.99,4.96,4.94,R17000015609,t,1,0,1,0,2.21
1,7126.0,https://www.airbnb.com/rooms/7126,2.022090e+13,9/14/2022,city scrape,Tiny Studio Apartment 94 Walk Score,A very small studio in a wonderful neighborhoo...,"Ukrainian Village was just named ""Hottest Neig...",https://a0.muscache.com/pictures/51073/16c81c7...,17928,...,4.87,4.88,4.74,R21000075737,f,1,1,0,0,2.86
2,10945.0,https://www.airbnb.com/rooms/10945,2.022090e+13,9/14/2022,city scrape,The Biddle House (#1),Beautiful first floor apartment in Historic Ol...,NaN,https://a0.muscache.com/pictures/58d1a420-a24b...,33004,...,4.77,4.98,4.64,2209984,t,9,9,0,0,0.55
3,12140.0,https://www.airbnb.com/rooms/12140,2.022090e+13,9/14/2022,city scrape,Lincoln Park Guest House,Bed and Breakfast license issued by the City o...,The Guest House is in the heart of Chicago's m...,https://a0.muscache.com/pictures/55126/6a4f01b...,46734,...,5.00,5.00,4.85,R20000055258,f,1,0,1,0,0.15
4,24833.0,https://www.airbnb.com/rooms/24833,2.022090e+13,9/14/2022,city scrape,Prime LincolnPark 1 Block Fullerton Express L ...,Perfect private entrance apartment one block f...,Lincoln Park is a great neighborhood where peo...,https://a0.muscache.com/pictures/ac17be6f-40bd...,101521,...,3.96,4.89,4.18,City registration pending,f,3,3,0,0,0.27

In [8]:
airbnb_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7414 entries, 0 to 7413
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7414 non-null   float64
 1   listing_url                                   7414 non-null   object
 2   scrape_id                                     7414 non-null   float64
 3   last_scraped                                  7414 non-null   object
 4   source                                        7414 non-null   object
 5   name                                          7414 non-null   object
 6   description                                   7393 non-null   object
 7   neighborhood_overview                         5105 non-null   object
 8   picture_url                                   7414 non-null   object
 9   host_id                                       7414 non-null   int64
 10  host_url                                      7414 non-null   object
 11  host_name                                     7414 non-null   object
 12  host_since                                    7414 non-null   object
 13  host_location                                 6307 non-null   object
 14  host_about                                    4991 non-null   object
 15  host_response_time                            6529 non-null   object
 16  host_response_rate                            6529 non-null   object
 17  host_acceptance_rate                          6747 non-null   object
 18  host_is_superhost                             7409 non-null   object
 19  host_thumbnail_url                            7414 non-null   object
 20  host_picture_url                              7414 non-null   object
 21  host_neighbourhood                            6790 non-null   object
 22  host_listings_count                           7414 non-null   int64
 23  host_total_listings_count                     7414 non-null   int64
 24  host_verifications                            7414 non-null   object
 25  host_has_profile_pic                          7414 non-null   object
 26  host_identity_verified                        7414 non-null   object
 27  neighbourhood                                 5105 non-null   object
 28  neighbourhood_cleansed                        7414 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7414 non-null   float64
 31  longitude                                     7414 non-null   float64
 32  property_type                                 7414 non-null   object
 33  room_type                                     7414 non-null   object
 34  accommodates                                  7414 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                7400 non-null   object
 37  bedrooms                                      6818 non-null   float64
 38  beds                                          7347 non-null   float64
 39  amenities                                     7414 non-null   object
 40  price                                         7414 non-null   object
 41  minimum_nights                                7414 non-null   int64
 42  maximum_nights                                7414 non-null   int64
 43  minimum_minimum_nights                        7414 non-null   int64
 44  maximum_minimum_nights                        7414 non-null   int64
 45  minimum_maximum_nights                        7414 non-null   int64
 46  maximum_maximum_nights                        7414 non-null   int64
 47  minimum_nights_avg_ntm                        7414 non-null   float64
 48  maximum_nights_avg_ntm                        7414 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7414 non-null   object
 51  availability_30                               7414 non-null   int64
 52  availability_60                               7414 non-null   int64
 53  availability_90                               7414 non-null   int64
 54  availability_365                              7414 non-null   int64
 55  calendar_last_scraped                         7414 non-null   object
 56  number_of_reviews                             7414 non-null   int64
 57  number_of_reviews_ltm                         7414 non-null   int64
 58  number_of_reviews_l30d                        7414 non-null   int64
 59  first_review                                  6102 non-null   object
 60  last_review                                   6102 non-null   object
 61  review_scores_rating                          6102 non-null   float64
 62  review_scores_accuracy                        6087 non-null   float64
 63  review_scores_cleanliness                     6087 non-null   float64
 64  review_scores_checkin                         6087 non-null   float64
 65  review_scores_communication                   6086 non-null   float64
 66  review_scores_location                        6087 non-null   float64
 67  review_scores_value                           6087 non-null   float64
 68  license                                       6148 non-null   object
 69  instant_bookable                              7414 non-null   object
 70  calculated_host_listings_count                7414 non-null   int64
 71  calculated_host_listings_count_entire_homes   7414 non-null   int64
 72  calculated_host_listings_count_private_rooms  7414 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7414 non-null   int64
 74  reviews_per_month                             6102 non-null   float64
dtypes: float64(19), int64(21), object(35)
memory usage: 4.2+ MB

In [9]:
airbnb_listings.shape

(7414, 75)

In [10]:
airbnb_reviews = pd.read_csv("reviews.csv")

C:\Users\1\AppData\Local\Temp\ipykernel_15284\1780241388.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_reviews = pd.read_csv("reviews.csv")

In [11]:
airbnb_reviews.head(5)

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments,rating
0,0,2384.0,25218143.0,1/9/2015,14385014,Ivan,ok nothing special charge diamond member hilto...,2
1,1,2384.0,28475392.0,3/24/2015,16241178,Namhaitou,nice rooms not 4* experience hotel monaco seat...,3
2,2,189821.0,536083.0,9/16/2011,124036,Jenny,"unique, great stay, wonderful time hotel monac...",5
3,3,189821.0,550149.0,9/20/2011,911939,Bonnie,"great stay great stay, went seahawk game aweso...",5
4,4,189821.0,577757.0,9/28/2011,938072,Lauren,love monaco staff husband stayed hotel crazy w...,5

In [12]:
airbnb_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343302 entries, 0 to 343301
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     343302 non-null  int64
 1   listing_id     343302 non-null  float64
 2   id             343302 non-null  object
 3   date           343302 non-null  object
 4   reviewer_id    343302 non-null  int64
 5   reviewer_name  343302 non-null  object
 6   comments       343302 non-null  object
 7   rating         343302 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 21.0+ MB

In [13]:
airbnb_reviews.shape

(343302, 8)

In [14]:
airbnb_calendar_date = pd.read_csv("calendar.csv")

In [16]:
airbnb_calendar = pd.read_csv("calendar.csv")

In [17]:
airbnb_calendar.head(5)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2384,9/14/2022,t,$50.00,$50.00,3,1125
1,2384,9/15/2022,f,$125.00,$125.00,3,1125
2,2384,9/16/2022,f,$125.00,$125.00,3,1125
3,2384,9/17/2022,f,$125.00,$125.00,3,1125
4,2384,9/18/2022,t,$115.00,$115.00,3,1125

In [18]:
airbnb_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1048575 non-null  int64
 1   date            1048575 non-null  object
 2   available       1048575 non-null  object
 3   price           1048575 non-null  object
 4   adjusted_price  1048575 non-null  object
 5   minimum_nights  1048575 non-null  int64
 6   maximum_nights  1048575 non-null  int64
dtypes: int64(3), object(4)
memory usage: 56.0+ MB

In [19]:
airbnb_calendar.shape

(1048575, 7)

In [20]:
null = airbnb_reviews.isna().sum()
null.sort_values(ascending=False)

Unnamed: 0       0
listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
rating           0
dtype: int64

In [21]:
airbnb_listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')